[Unit]
Description=Periodically retry AWARE Bluetooth speaker connection

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=30s

[Install]
WantedBy=timers.target
